[submodule "epcis-service"]
	path = epcis-service
	url = git@github.com:apeiro-digital-track-and-trace-epcis/epcis-service.git
[submodule "medic-scan-fetch"]
	path = medic-scan-fetch
	url = https://github.com/insen5/medic-scan-fetch.git

[submodule "kenya-tnt-system"]
	path = kenya-tnt-system
	url = https://github.com/insen5/kenya-tnt-system.git
